services:
  frontend:
    build: ./mern/frontend
    ports:
      - "5173:5173"
    networks:
      - mern_network
    environment:
      backend_uri: http://backend:5050


  backend:
    build: ./mern/backend
    ports:
      - "5050:5050"
    networks:
      - mern_network
    environment:
      mongo_uri: mongodb://mongodb:27017/mydatabase
    depends_on:
      - mongodb
 
 
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern_network    
    volumes:
      - mern_volume:/data/db  
   
networks:
  mern_network:
    driver: bridge
  
  
volumes:
  mern_volume:
    driver: local     
