services:
  frontend:
    build: ./mern/frontend
    ports:
      - "5173:5173"

  backend:
    build: ./mern/backend
    ports:
      - "5050:5050"

 
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
 
